ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
nav {
    font-style: italic;
    text-color: black;

    }
a {
    color: black;
    }
label {
    font-family: Comic Sans MS;
    }

div {


    }

textarea {

    overflow: auto;
    height: 700px;
    margin-left: 0%;
    }

td {
    text-align: center;
    }
}

h1 {
    margin-left: 20%;
    text-decoration: underline;

}
body {
    background-color: #556B2F}