ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
nav {
    font-style: italic;
    text-color: black;
    margin-left: 35%;
    }
a {
    color: black;
    text-align: center;

    }
label {
    font-family: Comic Sans MS;
    }

div {


    }
pre {
    width: 500px;
    margin-left: 20%;
    font-family: Comic Sans MS;
    }
textarea {

    overflow: auto;
    height: 700px;
    margin-left: 0%;
    }

span {
    margin-left: 25%;
    }
}

h1 {
    margin-left: 20%;
    text-decoration: underline;


}
body {
    background-color: #DCDCDC}

input.checkbox {
    display: inline-block;
}
p {
    margin-left: 42%;

    }